<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Signup</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen"
          th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}"/>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:replace="fragments/header :: header">Header</div>
<form class="form-narrow form-horizontal" method="post" th:action="@{/signup}" th:object="${signupForm}">
    <!--/* General Error */-->
    <th:block th:if="${#fields.hasErrors('${signupForm.*}')}">
        <div th:replace="fragments/alert :: alert (type='danger', message='Form contains errors. Please try again.')">
            Alert
        </div>
    </th:block>
    <fieldset>
        <legend>Please Register</legend>
        <div class="form-group" th:classappend="${#fields.hasErrors('username')}? 'has-error'">
            <label for="username" class="col-lg-2 control-label">Username</label>

            <div class="col-lg-10">
                <input type="text" class="form-control" id="username" placeholder="Username" th:field="*{username}"/>
                <span class="help-block" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Incorrect username</span>
            </div>
        </div>
        <div class="form-group" th:classappend="${#fields.hasErrors('password')}? 'has-error'">
            <label for="password" class="col-lg-2 control-label">Password</label>

            <div class="col-lg-10">
                <input type="password" class="form-control" id="password" placeholder="Password"
                       th:field="*{password}"/>
                <span class="help-block" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Incorrect password</span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-offset-2 col-lg-10">
                <button type="submit" class="btn btn-default">Register</button>
            </div>
        </div>
    </fieldset>
</form>
</body>
</html>